<%= render 'shared/navbar' %>
<%= render 'shared/banner' %>

<div>
  <div class="container">
    <h1 id="test">All our lists</h1>
  </div>

  <div class="container">
    <ul>
      <% @lists.each do |list| %>
        <li class="no-deco">
        <div class="card">
          <%= link_to list_path(list) do %>
            <div class="card-category d-flex justify-content-around" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.image_url %>)" >
            <%= list.name %>
            </div>
          <% end %>
        </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
